.p-1 {
	padding: $spacement-1;
}

.p-2 {
	padding: $spacement-2;
}

.p-3 {
	padding: $spacement-3;
}

.mt-1 {
	margin-top: $spacement-1;
}

.mt-2 {
	margin-top: $spacement-2;
}

.mt-3 {
	margin-top: $spacement-3;
}

.mb-1 {
	margin-bottom: $spacement-1;
}

.mb-2 {
	margin-bottom: $spacement-2;
}

.ml-2 {
	margin-left: $spacement-2;
}

.m-0 {
	margin: 0;
}

.no-wrap {
	white-space: nowrap;
}

.w-100 {
	width: 100%;
}