.rc-slider {

	.rc-slider-track {
		background-color: var(--color-primary);
	}

	.rc-slider-handle {
		border-color: var(--color-primary);
		background-color: var(--color-primary);
	}
}

.rc-slider + label {
	justify-content: center;
    display: flex !important;
    margin-top: 7px;
    font-weight: 500;
}

.form-group {

	label {
		display: block;
	}
}

.react-datepicker-wrapper {
	width: 100%;
}