.item.v2 {
	background-color: var(--color-gray);
	padding: calc(1.5 * #{$spacement-1}) $spacement-2;
	border-radius: $border-radius;
	margin: 0;
	width: fit-content;
	display: flex;
	flex-direction: column;
	min-width: 150px;

	h4 {
		font-weight: 600;
		margin: 0;
	}

	label {
		display: block;
		margin-top: 5px;
		opacity: 0.5;
		font-weight: 400;
	}

	&.slider {

		.rc-slider-handle-1 {
			transform: translateX(0%) !important;
		}

		.rc-slider-handle-2 {
			transform: translateX(-100%) !important;
		}

		.rc-slider-step {
			background: #fff;
		}

		.rc-slider-track {
			z-index: 2;
		}

		.rc-slider-handle, .rc-slider-track {
			background: var(--color-primary);
		}
	}

	&.input {

		input, select {
			margin-top: 10px;
			border: none;
			border-radius: $border-radius;
			font-size: 12px;
		}

		label {
			font-weight: 600;
			opacity: 0.8;
			color: #333;
		}
	}
}

.items-group {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: calc(-1 * #{$spacement-1});

	.item {
		margin-right: $spacement-1;
		margin-top: $spacement-1;
	}
}

.items-group-wrapper {
	border: 1px solid var(--color-gray);
	border-radius: $border-radius;
	padding: $spacement-1;
	position: relative;
	margin-top: $spacement-1;

	> h4 {
		position: absolute;
		top: -10px;
		margin: 0;
		font-size: 20px;
		line-height: 20px;
		font-weight: 600;
		background-color: #fff;
		padding: 0 $spacement-1;
		margin-left: calc(-0.5 * #{$spacement-1});
		color: var(--color-black);
	}

	.items-group {
		padding-top: 10px;
	}

	.row > div {
		margin-top: $spacement-1;
	}
}

.items-group-wrapper + .items-group-wrapper {
	margin-top: $spacement-3;
}

.items-group.row {
	margin-right: calc(-1 * calc(1rem / 2));
	margin-left: calc(-1 * calc(1rem / 2));

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		padding-right: calc(1rem / 2);
		padding-left: calc(1rem / 2);
	}
}

.items-group.row {

	.item.v2 {
		width: 100%;
	}

	> div {
		margin-top: 0;
	}
}