.table-responsive {
	max-height: 500px;
	margin: 0;

	.table {
		margin: 0;

		th {
			white-space: nowrap;
			background: white;
			position: sticky;
			top: 0; /* Don't forget this, required for the stickiness */
			box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
		}

		th, td {
			text-align: left;
		}
	}
}

.pagination {
	margin: 0;
	margin-top: $spacement-2;
	display: flex;
	justify-content: center;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}