.page.page-participanteindividual {

	.termos-uso-wrapper {
		margin: $spacement-3 0;

		.termos-uso-check {
			display: flex;
			justify-content: center;
			width: unset;
			align-items: center;
	
			input, label {
				margin: 0;
			}
		}
	}

	.message-renda-dados-obrigatorios {
		box-shadow: none;
		background: #ff5757;
		color: #fff;
		font-weight: 700;
		padding: 2rem;

		h4 {
			margin: 0;
			font-weight: 600;
			font-size: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}